body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-toggler{
  border: none !important;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.sklills-icon{
  width: 130px;
}

.form-floating label::after{
  background-color: transparent !important;
  color: #fff !important;
}
.form-floating label:focus{
  background-color: transparent !important;
  color: #fff !important;
}

@media  (max-width:400px) {
  .sklills-icon{
    width: 90px !important;
  }
  .contact-icon{
    margin: 10px 0px !important;
   flex-direction: column !important;
   justify-content: center !important;
   align-items: center !important;
  }
  .contact-icon span{
    margin: 10px 0px !important;
  }
}